body
{
    padding-top: 100px;
}
.reg
{
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin: 0 auto;           
    max-width: 400px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin-top: 40px;
    margin-right:350px;
}
#form
{
    margin-top: 8px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
    width: 150%;
}
#btn
{
    margin-top: 8px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
    width: 160%;
    background-color:blue;
    color:white;
    font-weight:500;
}